@CHARSET "ISO-8859-1";
.ui-panelgrid td, .ui-panelgrid tr{
    border-style: none !important
}

body{
	font-size: 82%;
}

.div1{
	float: left;
	width: 100%;
}

.pg1{
	width:80%;
}

.t{
	width: 70%;
} 

.div2{
	float: left;
	width: 50%;
}

.div2 #img1{
	display: block;
	margin-left: auto;
	margin-right: auto;
} 

#img1{
	display: block;
	margin-left: auto;
	margin-right: auto;
} 

.dc { 
	margin:0 auto 0 auto;
	width: 50%; 
}


.div3{
	clear:both;
}

/* Diseno de los pasos a seguir */

.ui-steps .ui-steps-item {
    width: 24%;
}
 
.ui-state-highlight {
    text-shadow: none !important;
}
 
.ui-steps.custom {
    margin-bottom: 30px;
}
 
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}
 
.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}




